body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;       
}
.company-title {
    font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
}
