body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    background-color: #fff;
    color: #434455;
}
img {
    display: block;
    object-fit: contain;
}
ul {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-title {
    font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 0;
        text-decoration: none;
        line-height: 1.17;
        margin-right: 76px;
        display: inline-block;
        margin-bottom: 16px;
        margin-top: 16px;
        
}

.company-title-studio {
    
        color: #2e2f42;
        
}
.nav-menu {
    display: flex;
    gap: 40px;
    margin-right: 76px;
}

.nav-menu a {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

}
.nav-menu-studio {
    padding: 24px 0;
}

.nav-menu-studio:hover { color: #404bbf;} 
.nav-menu-studio:focus { color: #404bbf;}

address {font-style: normal;}
.address-top a {
    font-style:normal;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}
.address-task-requierement:hover, .address-task-requierement:active, .address-task-requierement:focus {color: #404bbf;}
.address-list {
    display: flex;
    gap: 40px;
}

.body-header {
background: #fff;
border-bottom: 1px solid #e7e9fc;
}
.container {

width: 1158px;
margin: 0 auto;
padding: 0 15px;

}
.nav-container {
    display: flex;
    align-items: center;

}
.main-page-title {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}


.main-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
  
}
.button-order-service {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}
.button-order-service:hover, .button-order-service:focus {background-color: #404BBF}

.second-section {
    padding: 120px 0;
}
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        overflow: hidden;
}
*/

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.list-item {
width: calc((100% - 72px) / 4);
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}



.team-member {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.team-member-card {
padding: 32px 0;
}

.team-member-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}


body ul {
    list-style-type: none;
    }

     .portfolio-title {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }
.portfolio-list {
    padding:0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;


}

.portfolio-list-item {
width: calc((100% - 48px) / 3);

}


.portfolio-container-item {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}



.portfolio-container-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-class {
    background-color: #2e2f42;
padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;

    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
       
}

.company-title .footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;

}

.company-title-studio-bottom {
color: #f4f4fd
}